<?xml version="1.0" encoding="UTF-8"?>
<providers>
    <provider name="leipzig" abbrev="l">
        <settings>      
           <credentials method="none"></credentials>
           <baseurl>http://api.corpora.uni-leipzig.de/ws</baseurl> <!-- https?? -->
           <Content-Type>application/json; charset=UTF-8</Content-Type>  <!-- This seems to be the default of RST APIs. It is the Guzzle default, right? -->
           <query> 
               <parm name="offset">0</parm> 
               <parm name="limit">10</parm> 
           </query> 
        </settings>
        <requests> 
           <request type="sentences"> 
              <route>sentences/deu_news_2012_1M/sentences</route> 
              <method>GET</method> 
          </request>
        </requests>
   </provider>
   <provider name="deepl" abbrev="d">
        <settings>   
           <baseurl>https://api-free.deepl.com/v2</baseurl>
           <credentials method="header">
               <header name="Authorization">DeepL-Auth-Key 7482c761-0429-6c34-766e-fddd88c247f9:fx</header>
           </credentials>
           <Content-Type>application/json; charset=UTF-8</Content-Type>
           <implementation>Translators\DeeplTranslator</implementation>
           <query> 
              <from name="source_lang" />
              <to name="target_lang" />
           </query>
        </settings>
        <requests>
           <request type="translation"> 
              <route>v2/translate</route>
              <method>GET</method>
              <!-- The presence of the `input="text"` attribute implies the input text is a query parameter named 'text'. If the input attribute is not present,
                json input is required. The name attribute is present if and only if the  implementation class is Translator.   -->
           </request>
        </requests>
   </provider>
   <provider name="Microsoft" abbrev="m">
        <settings> 
           <baseurl>https://api.cognitive.microsofttranslator.com</baseurl>
           <credentials method="header">              
              <header name="Ocp-Apim-Subscription-Key">ef6e5b44c68d438c8d79cae2f8c020ba</header> 
              <header name="Ocp-Apim-Subscription-Region">eastus2</header>
           </credentials>
           <Content-Type>application/json; charset=UTF-8</Content-Type>
           <implementation>Translators\AzureTranslator</implementation>
           <query> 
               <parm name="api-version">3.0</parm> 
               <parm name="textType">plain</parm>
               <from name="from" />
               <to name="to" />
           </query>
        </settings>
        <requests>
          <request type="translation">
             <route>translate</route> 
             <method>POST</method> 
          </request>
          <request type="dictionary">
             <implementation>Translators\AzureTranslator</implementation>
             <route>Dictionary/Lookup</route> 
             <method>POST</method> 
          </request>
      </requests>
    </provider>
    <provider name="ibm" abbrev="i">
        <settings>   
          <baseurl></baseurl>
          <credentials method="custom">
             <header name="apikey">ApiKey-2c8264c6-168e-457a-a910-3be0f9177313</header>
          </credentials>   
          <credentials method="token">
          </credentials>
          <Content-Type>application/json; charset=UTF-8</Content-Type>
          <implementation>Translators\IbmTranslator</implementation>
          <query> 
             <parm name="????">DE</parm>
             <parm name="???">to</parm>
          </query>
        </settings>
        <requests>
           <request type="translation"> 
              <route>translate</route>
              <method>GET/POST???</method>
           </request>
        </requests>
     </provider>
</providers>
