<?xml version="1.0" encoding="UTF-8"?>
<providers>
    <provider name="leipzig" abbrev="l">
           <headers></headers>
           <endpoint>http://api.corpora.uni-leipzig.de/ws</endpoint> <!-- https?? -->
   </provider>
   <provider name="Azure" abbrev="a">
           <endpoint>https://api-nam.cognitive.microsofttranslator.com</endpoint>
           <headers>
              <header key="Ocp-Apim-Subscription-Key">ef6e5b44c68d438c8d79cae2f8c020ba</header> 
              <header key="Ocp-Apim-Subscription-Region">eastus2</header>
           </headers>
    </provider>
    <provider name="deepl" abbrev="d">
           <endpoint>https://api-free.deepl.com/v2</endpoint>
           <headers>
               <header key="Authorization">DeepL-Auth-Key 7482c761-0429-6c34-766e-fddd88c247f9:fx</header>
           </headers>
    </provider>
    <provider name="Systran" abbrev="s">
           <endpoint>https://api-translate.systran.net</endpoint>
           <headers>
               <header key="Authorization">Key bf31a6fd-f202-4eef-bc0e-1236f7e33be4</header>
           </headers>
    </provider>
    <provider name="Collins" abbrev="c">
           <endpoint><https://api.collinsdictionary.com</endpoint>
           <headers>
               <header key="accessKey">igRZPPW5ilBklGQrk7mtrbQwktc0Q9v0848GhQLmo07YsHhKKYzyZcCJ4pQPYuzg</header>
           </headers>
    </provider>
    <provider name="ibm" abbrev="i">
          <endpoint></endpoint>
          <headers>
             <!-- 
             I believe basic authorization is used in which a username and password are passed, separated from each other by a colon.
             The username is 'apikey' and the password is your private api-key.
             Bear token is also supported and recommended for production code.
             -->
             <header key="apikey">ApiKey-2c8264c6-168e-457a-a910-3be0f9177313</header>
         </headers>
   </provider>
</providers>
